extends ./layout.jade

block content
  main.inventory
    each section in sections
      div(id=section.sectionId)
      if typeof(articlesBySections[section.sectionId]) !== 'undefined'
        each article in articlesBySections[section.sectionId]
          section.item
            a(href='/articles/#{article.id}')
              figure
                img(src='/articles/#{article.id}/images/thumbnail.svg')
              .item-desc
                h3 #{article.fullName}
                p
                  | #{article.shortDescription}
  footer
    p Copyright &copy; 2014-15 Yosub Shin
    p View source code on 
      a(href='https://github.com/YosubShin/yosubshin.com') GitHub
